<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= render '/layouts/navbar' %>

<div id="profile-sidebar">

  <div>
    <div id="profile-pic" style="float:left"><img src="/anon_user.jpg" height="50" width="100"></div>
    <div style="float:right"><i><b><%= @user %>'s Profile</b></i></div><br>
    <a href="/profile_form" style="float:right">Edit Profile</a>
  </div><br><br><br><br>
  <hr />

  <i><b>Profile details</b></i><div id="expand-details" style="float:right;cursor:pointer" onclick="displayElement('#profile-details', '#expand-details')">+</div>
  <div id="profile-details">
    <br>
    Starting weight: <div class="profile-stat"><%= UserProfile.find_by_username(@user).weight %> lbs</div><br>
    Desired weight: <div class="profile-stat"><%= UserProfile.find_by_username(@user).desired_weight %> lbs</div><br>
    Activity Level:
    <div class="profile-stat">
      <%= ["Not Active", "Lightly Active", "Moderately Active", "Very Active", "Extremely Active"][UserProfile.find_by_username(@user).activity_level] if !@userModel.nil?%>
    </div><br>

    Weekly goal:
    <div class="profile-stat"><% change = UserProfile.find_by_username(@user).weight_change_per_week_goal %>
      <% if change == nil %>
      <% elsif change == 0.0 %>
        Maintain current weight
      <% else %>
        Lose <%= change.abs %> lbs per week
      <% end %>
    </div>
  </div>

  <hr />

  <div style="float:left"><i><b>Requests (<%= @pending_in.length %>)</b></i></div>
  <div id="expand-requests" style="float:right;cursor:pointer" onclick="displayElement('#requests', '#expand-requests')">+</div><br>

  <div id="requests">
    <br>
    <div class="request-title"><u>Received</u></div>
    <div class="request-title"><u>Sent</u></div>

    <div id="received-requests">
      <% for friend in @pending_in %>
        <div class="image" style="cursor:pointer" onclick='accept_request("<%= friend.usernameFrom %>")'><img src="/anon_user.jpg" height="30" width="55"><br><%= friend.usernameFrom %></div>
      <% end %>
    </div>


    <div id="sent-requests">
      <% for friend in @pending_out %>
        <div class="image"><img src="/anon_user.jpg" height="30" width="55"><br><%= friend.usernameTo %></div>
      <% end %>
    </div>

  <br><br><br><br><br>
  </div>

  <hr />

  <div style="float:left"><i><b>Friends (<%= @accepted.length %>)</b></i></div><br><br>

  <div class="friends-display" id="accepted-friends">
    <% for friend in @accepted %>
      <div class="image" style="cursor:pointer" onclick='delete_friend("<%= friend.usernameFrom %>")'><img src="/anon_user.jpg" height="30" width="60"><br><%= friend.usernameFrom %></div>
    <% end %>
  </div>

  <hr />

  <div id="friend-with-same-goal">
    <i><b>Find Friend With Same Goal</b></i><br><br>
    <!-- change this route and stuff -->
    <input id="submit_request" type="submit" value="Find New Friend" style="width:200px;float:left;margin-left:50px" onclick="find_friend()">
  </div>

</div>

<div id="friend-requests">

  <form id="friend_request_form" action="" method="post">
    <input id="friend_request" name="username" type="text" placeholder="Enter a friend's name">
    <input id="submit_request" type="submit" value="Send Friend Request" ><br>
  </form>

</div>



<div id="weight-chart">
  <b>Weight Progress</b>
  <form id="weight_form" action="/profile/add_weight" method="post">
    <input id="weight" name="weight" type="text" placeholder="weight" style="float:left">
    <input id="submit_weight" type="submit" value="Add" style="height:30px;float:left;margin-left:5px;">
  </form><br><br>
  <%= line_chart @weights, discrete: true, height: '200px' %>
</div>

<div id="gauge_container">
  <p>Your gauge level is <%= @gauge_level %>.</p>
  <div id="gauge">
    fitplan
  </div>
  <!--<div id="gauge_transbox"></div>-->
</div>

<div id="all-entries-container">

  <% i = 0 %>
  <ul id="days-nav">
    <% for key in @days %>
      <li class="day-nav-button" id="day-button-<%= i %>" onclick="displayDay(<%= i %>)">
        <span id="day-<%= i %>"><%= key.split('-')[1] %></span>/<span id="day-<%= i %>"><%= key.split('-')[2] %></span> (<span id="count-<%= i %>"><%= @entries[key].length%></span>)
      </li>
      <% i = i + 1 %>
    <% end %>
  </ul>

  <br>

  <% i = 0 %>
  <% for key in @days %>

    <div class="entry<%= i %>" style="width:100%;">
      <div class="entry-wrapper">
        <div class="field-title" style="width:320px;">Food</div>
        <div class="field-title" style="width:100px;">Calories</div>
        <div class="field-title" style="width:220px;">Serving Size</div>
        <div class="field-title" style="width:80px;">Servings</div>
      </div>

      <div class="entry-wrapper">
      <% if @entries[key].length == 0 %>
          <div class="entry-wrapper">
            <div class="entry-field" style="width:300px;">-</div>
            <div class="entry-field" style="width:80px;">-</div>
            <div class="entry-field" style="width:200px;">-</div>
            <div class="entry-field" style="width:60px;">-</div>
          </div>
      <% else %>
        <% for entry in @entries[key] %>
          <div class="entry-wrapper">
            <div class="entry-field" style="width:300px;"><%= raw entry.food %></div>
            <div class="entry-field" style="width:80px;"><%= entry.calories %></div>
            <div class="entry-field" style="width:200px;"><%= entry.serving.gsub("Serving Size ", "") %></div>
            <div class="entry-field" style="width:60px;"><%= entry.numservings %></div>
            <div class="entry-field" style="width:40px;" id="<%= entry.food %>">
              <input name="delete" class = "delete-<%= i %>" type="checkbox">
            </div>
          </div>
        <% end %>
      <% end %>
      </div>

      <br><br>

      <form class="food-entry-form" action="/profile/add_food/<%= key.gsub("-", "_") %>" method="post">
        <input id="food-<%= i %>" class="food-entry-input" name="food" placeholder="e.g. 'chicken'" type="text" style="margin-left:35px;">
        <input class="food-entry-input" type="submit" value="Add Food" style="margin-left:10px;">
      </form>

      <div class="food-entry-form">
        <input class="food-entry-input" type="submit" value="Delete selected entries" style="margin-left:110px;" onclick='delete_entries(<%= i %>, "<%= key %>")'>
      </div>

      <div class="entry-field" style="width:780px;text-align:center;border:2px solid #505050;margin-top:10px">
        <p class="report">Intake: <%= @intake[key] %> cal</p>
        <p class="report"> Burned: <%= @burned[key] %> cal</p>
        <p class="report">Net Intake: <%= @intake[key] - @burned[key] %> cal</p>
      </div>

    </div>
    <% i = i + 1 %>
  <% end %>

</div>

<script type="text/javascript">
window.onpageshow = function(event) {
  if (event.persisted) {
    document.body.style.display = "none";
    location.reload();
  }
};

$(document).ready(function() {
  setMenu();
  $("#profile-details").hide();
  $("#requests").hide();
});

var opacityVal = 0.3;
document.getElementById('gauge').style.opacity = opacityVal;

function register(result, index) {
	if (result.result == "SUCCESS") {
		location.reload();
	} else {
		alert(result.result);
	}
}

function delete_entries(index, date) {
  var array = new Array();
  $('.delete-'+index).each(function(i, obj) {
    if (obj.checked) {
    	array.push(obj.parentNode.id);
        obj.checked = false;
    }
  });
  send_json("/profile/delete_food",
	{"delete":JSON.stringify(array), "date":date},
	function(reply) {
		return register(reply, index);
	},
	show_error
  );
  return false;
}

$("#weight_form").submit(function(event) {
    event.preventDefault()
    $.ajax({
        url : "/profile/add_weight",
        type : "POST",
        data: $("#weight_form").serializeArray(),
        success: function(responseData) {
            alert(responseData.message);
            location.reload(false);
        },
        error: function(responseData) {
            alert(responseData.message);
        }
    })
});

$("#friend_request_form").submit(function(event) {
  var user = document.getElementById("friend_request").value;
  send_json("/profile/create_request",
  {"username":user},
  function(reply) {
    if (reply.result != "SUCCESS") {
      alert(reply.result);
    } else {
      location.reload(false);
    }
  },
  show_error
  );
  return false;
});

function accept_request(friend) {
  send_json("/profile/accept_request",
  {"friend":friend},
  function(reply) {
    if (reply.result != "SUCCESS") {
      alert(reply.result);
    } else {
      location.reload(false);
    }
  },
  show_error
  );
  return false;
}

function delete_friend(friend) {
  alert("deleting friend");
  send_json("/profile/delete_friend",
    {"friend":friend},
  function(reply) {
    if (reply.result != "SUCCESS") {
      alert(reply.result);
    } else {
      location.reload(false);
    }
  },
  show_error
  );
  return false;
}

function find_friend() {
  alert("find friend");
  send_json("/profile/find_friend",
    {},
    function(reply) {
      location.reload(false);
    },
    show_error
  );
  return false;
}

function setMenu() {
  for (var i=1; i<7; i++) {
    $(".entry"+i).hide();
  }
  $(".entry0").show();
  $(document.getElementById("day-button-0")).css("border-bottom", "thin solid #505050");
}

function displayDay(day) {
  for (var i=0; i<7; i++) {
    if (i != day) {
      $(".entry"+i).hide();
      $(document.getElementById("day-button-"+i)).css("border-bottom", "");
    } else {
      $(".entry"+i).show();
      $(document.getElementById("day-button-"+i)).css("border-bottom", "thin solid #505050");
    }
  }

}

function displayElement(elementId, currentElementId) {
  if ($(elementId).is(':visible')) {
    $(elementId).hide();
    $(currentElementId).html('+')
  } else {
    $(elementId).show();
    $(currentElementId).html('-')
  }
}


</script>
