<div class="overall">

  <%= render '/layouts/navbar' %>

  <div id="input-form">
    <form id="register" action="" method="POST">
      <div id="message"></div>
      <hr />
      Feet: <input id="feet" name="feet" type="text" value=<%= @defaults["feet"] %>>
      &nbsp;&nbsp;&nbsp;&nbsp;
      Inches: <input id="inches" name="inches" type="text" value=<%= @defaults["inches"] %>>
      <hr />
  	  Starting weight (lbs): <input id="weight" name="weight" type="text" value=<%= @defaults["weight"] %>>
      <br>
  	  Desired weight (lbs): <input id="desired_weight" name="desired_weight" type="text" value=<%= @defaults["desired_weight"] %>> <br>
      <hr />
  	  Age: <input id="age" name="age" type="text" value=<%= @defaults["age"] %>> <br>
      <hr />
      Male <%= radio_button_tag("gender", "male", @defaults["gender"]=="male") %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      Female <%= radio_button_tag("gender", "female", @defaults["gender"]=="female") %><br>
      <hr />
      Activity Level: <%= select_tag("activity_level", options_for_select({"Not Active" => 0,
                                                                           "Lightly Active" => 1,
                                                                           "Moderately Active" => 2,
                                                                           "Very Active" => 3,
                                                                           "Extremely Active" => 4}, :selected => @defaults["activity_level"])) %><br>
      Weekly Goal: <%= select_tag("weight_change_per_week_goal", options_for_select({"Maintain current weight"=> 0.0,
                                                                                     "Lose 0.5 lbs per week" => -0.5,
                                                                                     "Lose 1 lbs per week" => -1.0,
                                                                                     "Lose 1.5 lbs per week" => -1.5,
                                                                                     "Lose 2 lbs per week" => -2.0}, :selected => @defaults["weight_change_per_week_goal"])) %><br>
      <hr />
      <input id="profile_submit" type="submit" value="Submit Profile">
    </form>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(setMessage);
    window.onpageshow = function(event) {
        if (event.persisted) {
            document.body.style.display = "none";
            location.reload();
        }
    };
    function setMessage() {
        $('#message').html("Please fill out your profile:");
    }
    function register(result, url) {
        if (result.result == "SUCCESS") {
            window.location.href = url;
        } else {
            $('#message').html(result.result);
        }
    }
    $('#profile_submit').click(function() {
        var d = {
            "feet" : document.getElementById("feet").value,
            "inches" : document.getElementById("inches").value,
            "weight" : document.getElementById("weight").value,
            "desired_weight" : document.getElementById("desired_weight").value,
            "age" : document.getElementById("age").value,
            "gender" : "",
            "activity_level" : document.getElementById("activity_level").options[document.getElementById("activity_level").selectedIndex].value,
            "weight_change_per_week_goal" : document.getElementById("weight_change_per_week_goal").options[document.getElementById("weight_change_per_week_goal").selectedIndex].value
        };
        var gender = document.getElementsByName("gender");
        for (var i=0; i<gender.length; i++) {
            if (gender[i].checked) {
                d["gender"] = gender[i].value;
            }
        }
        send_json("/profile_form/submit",
                d,
                function(result) {
                    return register(result, "/profile");
                },
                show_error
        );
        return false;
    });
</script>
