<%= render '/layouts/navbar' %>

<div id="input-form">
  <div id="message"></div>
  <hr />
  <%= image_tag(UserProfile.find_by(:username => @user).profile_pic.url, :width => '200px') %><br><br>
  <button type="button" class="specialButton" id="edit_pic">Edit Picture</button><br>
  <div id="upload_pic_div" style="display:none">
    <%= form_for(:pic_form, :url => '/profile_form/upload_pic', :html => {:id => "upload_pic_form"}, :multipart => true) do |form| %>
        <div id="browse-container">
          <%= form.file_field :profile_pic %>
          <input id="browse" class="specialButton" type="submit" value="Browse">
        </div>
        <%= form.submit 'Upload', :id => 'upload_pic_submit', :class => 'specialButton' %>
    <% end %>
  </div>
  <form id="register" action="" method="POST">
    <hr />
    Feet: <input id="feet" name="feet" type="text" value=<%= @defaults["feet"] %>>
    &nbsp;&nbsp;&nbsp;&nbsp;
    Inches: <input id="inches" name="inches" type="text" value=<%= @defaults["inches"] %>>
    <hr />
    <div style="float:left;margin-left:20px">Starting weight: <input id="weight" name="weight" type="text" placeholder="lbs" value=<%= @defaults["weight"] %>></div>
    <div style="float:right">Desired weight: <input id="desired_weight" name="desired_weight" type="text" placeholder="lbs" value=<%= @defaults["desired_weight"] %>></div><br>
    <hr />
    Age: <input id="age" name="age" type="text" value=<%= @defaults["age"] %>>
    <hr />
    Male <%= radio_button_tag("gender", "male", @defaults["gender"]=="male") %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    Female <%= radio_button_tag("gender", "female", @defaults["gender"]=="female") %>
    <hr />
    Activity Level: <%= select_tag("activity_level", options_for_select({"Not Active" => 0,
                                                                         "Lightly Active" => 1,
                                                                         "Moderately Active" => 2,
                                                                         "Very Active" => 3,
                                                                         "Extremely Active" => 4}, :selected => @defaults["activity_level"])) %><br>
    Weekly Goal: <%= select_tag("weight_change_per_week_goal", options_for_select({"Maintain current weight"=> 0.0,
                                                                                   "Lose 0.5 lbs per week" => -0.5,
                                                                                   "Lose 1 lbs per week" => -1.0,
                                                                                   "Lose 1.5 lbs per week" => -1.5,
                                                                                   "Lose 2 lbs per week" => -2.0}, :selected => @defaults["weight_change_per_week_goal"])) %><br>
    <hr />
    <input id="profile_submit" class="specialButton" type="submit" value="Submit Profile">
  </form>
</div>

<script type="text/javascript">
    $(document).ready(setMessage);
    window.onpageshow = function(event) {
        if (event.persisted) {
            document.body.style.display = "none";
            location.reload();
        }
    };
    function setMessage() {
        $('#message').html("Please fill out your profile:");
    }
    function register(result, url) {
        if (result.result == "SUCCESS") {
            window.location.href = url;
        } else {
            $('#message').html(result.result);
        }
    }
    $('#profile_submit').click(function() {
        var d = {
            "feet" : document.getElementById("feet").value,
            "inches" : document.getElementById("inches").value,
            "weight" : document.getElementById("weight").value,
            "desired_weight" : document.getElementById("desired_weight").value,
            "age" : document.getElementById("age").value,
            "gender" : "",
            "activity_level" : document.getElementById("activity_level").options[document.getElementById("activity_level").selectedIndex].value,
            "weight_change_per_week_goal" : document.getElementById("weight_change_per_week_goal").options[document.getElementById("weight_change_per_week_goal").selectedIndex].value
        };
        var gender = document.getElementsByName("gender");
        for (var i=0; i<gender.length; i++) {
            if (gender[i].checked) {
                d["gender"] = gender[i].value;
            }
        }
        send_json("/profile_form/submit",
                d,
                function(result) {
                    return register(result, "/profile");
                },
                show_error
        );
        return false;
    });

    /*$('#upload_pic_form').submit(function(event) {
     event.preventDefault();
     var formData = new FormData($('#upload_pic_form')[0]);
     $.ajax({
     url: '/profile_form/upload_pic',
     type: 'POST',
     data: formData,
     success: function (responseData) {
     alert("WHAT");
     },
     error: function (responseData) {
     alert(responseData.message);
     }
     });

     });*/

    $('#edit_pic').click(function() {
        $("#upload_pic_div").show();
        $("#edit_pic").hide();
        $("#pic_form_profile_pic").css("opacity", "0");
    });

</script>
