<%= render '/layouts/navbar' %>
<div>
    <p id="add_weight_response"></p>
</div>
<h1>Welcome, <%= @user %></h1>
<form id="weight_form" action="/profile/add_weight" method="post">
  <input id="weight" name="weight" type="text">
  <input id="submit_weight" type="submit" value="Add Weight">
</form><br>
<% i = 0 %>
<% for key in @days %>
  <div>
    You have <span id="count-<%= i %>"><%= @entries[key].length %></span>
    entries for <span id="day-<%= i %>"><%= key %></span>.
  </div>
  <% for entry in @entries[key] %>
  <form action="" method="POST">
    <div id="<%= entry.food %>" style="display:inline-block">
      <div class="entry"><%= raw entry.food %></div>
      <div class="entry"><%= entry.calories %> cal</div>
      <div class="entry"><%= entry.date %></div>
      <div class="entry"><%= entry.serving %></div>
      <div class="entry"><%= entry.numservings %></div>
      <input name="delete" class = "delete-<%= i %>" type="checkbox">
    </div>
  </form>
  <br/>
  <% end %>
  <form action="/profile/add_food/<%= key.gsub("-", "_") %>" method="post">
    <input id="food-<%= i %>" name="food" type="text">
    <input type="submit" value="Add Food">
  </form>
  <input type="submit" value="Delete selected entries" onclick='delete_entries(<%= i %>, "<%= key %>")'>
  <% i = i + 1 %>
<% end %>

<script type="text/javascript">
window.onpageshow = function(event) {
  if (event.persisted) {
    document.body.style.display = "none";
    location.reload();
  }
};
function register(result, index) {
	if (result.result == "SUCCESS") {
		location.reload();
	} else {
		alert(result.result);
	}
}

function delete_entries(index, date) {
  var array = new Array();
  $('.delete-'+index).each(function(i, obj) {
    if (obj.checked) {
    	array.push(obj.parentNode.id);
    }
  });
  send_json("/profile/delete_food",
	{"delete":JSON.stringify(array), "date":date},
	function(reply) {
		return register(reply, index);
	},
	show_error
  );
  return false;
}

$("#weight_form").submit(function(event) {
    event.preventDefault()
    $.ajax({
        url : "/profile/add_weight",
        type : "POST",
        data: $("#weight_form").serializeArray(),
        success: function(responseData) {
            document.getElementById('add_weight_response').innerHTML = responseData.message;
        },
        error: function(responseData) {
            document.getElementById('add_weight_response').innerHTML = responseData.message;
        }
    })
});
</script>
