<%= render '/layouts/navbar' %>
<div>
    <p id="add_weight_response"></p>
</div>
<h1>Welcome, <%= @user %></h1>
<form id="weight_form" action="/profile/add_weight" method="post">
  <input id="weight" name="weight" type="text">
  <input id="submit_weight" type="submit" value="Add Weight">
</form><br>
<div id="all-entries-container" style="width:800px; margin:0 auto;">
<% i = 0 %>
<% for key in @days %>
  <div class="day-entries" onclick="displayMenu(<%= i %>)">
    You have <span id="count-<%= i %>"><%= @entries[key].length %></span>
    entries for <span id="day-<%= i %>"><%= key %></span>.
  </div>
  <div class="entry<%= i %>" style="width:100%;">
    <div class="entry-wrapper">
      <div class="field-title" style="width:320px;">Food</div>
      <div class="field-title" style="width:120px;">Calories</div>
      <div class="field-title" style="width:220px;">Serving Size</div>
      <div class="field-title" style="width:70px;">Servings</div>
    </div>
    <% for entry in @entries[key] %>
      <div class="entry-wrapper">
        <div class="entry-field" style="width:300px;"><%= raw entry.food %></div>
        <div class="entry-field" style="width:100px;"><%= entry.calories %></div>
        <div class="entry-field" style="width:200px;"><%= entry.serving.gsub("Serving Size ", "") %></div>
        <div class="entry-field" style="width:50px;"><%= entry.numservings %></div>
        <div class="entry-field" style="width:50px;" id="<%= entry.food %>">
          <input name="delete" class = "delete-<%= i %>" type="checkbox">
        </div>
      </div>
      <br/>
    <% end %>
    <form action="/profile/add_food/<%= key.gsub("-", "_") %>" method="post">
      <input id="food-<%= i %>" name="food" type="text">
      <input type="submit" value="Add Food">
    </form>
    <input type="submit" value="Delete selected entries" onclick='delete_entries(<%= i %>, "<%= key %>")'>
  </div>
  <% i = i + 1 %>
<% end %>
</div>

<script type="text/javascript">
window.onpageshow = function(event) {
  if (event.persisted) {
    document.body.style.display = "none";
    location.reload();
  }
};
$(document).ready(function() {
  displayMenu(0);
});
function register(result, index) {
	if (result.result == "SUCCESS") {
		location.reload();
	} else {
		alert(result.result);
	}
}

function delete_entries(index, date) {
  var array = new Array();
  $('.delete-'+index).each(function(i, obj) {
    if (obj.checked) {
    	array.push(obj.parentNode.id);
    }
  });
  send_json("/profile/delete_food",
	{"delete":JSON.stringify(array), "date":date},
	function(reply) {
		return register(reply, index);
	},
	show_error
  );
  return false;
}

$("#weight_form").submit(function(event) {
    event.preventDefault()
    $.ajax({
        url : "/profile/add_weight",
        type : "POST",
        data: $("#weight_form").serializeArray(),
        success: function(responseData) {
            document.getElementById('add_weight_response').innerHTML = responseData.message;
        },
        error: function(responseData) {
            document.getElementById('add_weight_response').innerHTML = responseData.message;
        }
    })
});

function displayMenu(day) {
  for (var i=0; i<7; i++) {
    if (i != day) {
      $(".entry"+i).slideUp();
    } else {
      $(".entry"+i).slideDown();
    }
  }
}
</script>
