<%= render '/layouts/navbar' %>

<div><p id="add_weight_response"></p></div>

<h1>Welcome, <%= @user %></h1><br>

<form id="food-form" action="/profile/add_food" method="post">
  What have you eaten today? Add it here!<br>
  <input id="food" name="food" type="text" style="width:510px;">
  <input id="search_food" type="submit" value="Add Food">
</form><br>

<form id="weight_form" action="/profile/add_weight" method="post">
  <input id="weight" name="weight" type="text">
  <input id="submit_weight" type="submit" value="Add Weight">
</form><br>

<div id="entry-list">
  <div id="message"><%= @message %></div>
  <hr />
  <% for i in 0..@entries.length-1 %>
      <div id="<%= @entries[i].food %>" class="entry">
        <u><%= raw @entries[i].food %></u><br>
        <i>Serving(s): <%= @entries[i].numservings %></i>&nbsp;&nbsp;&nbsp;&nbsp;
        <%= @entries[i].calories %> cal/serving&nbsp;&nbsp;&nbsp;&nbsp;
        <!--<%= @entries[i].date %>-->
        <%= @entries[i].serving %>&nbsp;&nbsp;&nbsp;&nbsp;
        <input name="delete" class = "delete" type="checkbox" id="check-<%= i %>" style="float:right;">
      <hr />
      </div>
  <% end %>

<input id="delete_entries" type="submit" value="Delete selected entries">
</div>


<script type="text/javascript">
window.onpageshow = function(event) {
  if (event.persisted) {
    document.body.style.display = "none";
    location.reload();
  }
};
function register(result) {
	if (result.result == "SUCCESS") {
		location.reload();
	} else {
		alert(result.result);
	}
}
$('#delete_entries').click(function() {
  var array = new Array();
  $('.delete').each(function(i, obj) {
    if (obj.checked) {
    	array.push(obj.parentNode.id);
        obj.checked = false;
    }
  });
  send_json("/profile/delete_food",
	{"delete":JSON.stringify(array)},
	function(reply) {
		return register(reply);
	},
	show_error
  );
  return false;
});

$("#weight_form").submit(function(event) {
    event.preventDefault()
    $.ajax({
        url : "/profile/add_weight",
        type : "POST",
        data: $("#weight_form").serializeArray(),
        success: function(responseData) {
            document.getElementById('add_weight_response').innerHTML = responseData.message;
        },
        error: function(responseData) {
            document.getElementById('add_weight_response').innerHTML = responseData.message;
        }
    })
});
</script>
