<%= render '/layouts/navbar' %>

<div id="reports">
  <div id="today">
  <div style="padding-bottom:7px"><i><b>Today's Stats:</b></i></div>
  Caloric intake: <span id="intake"><%= @workout["intake"] %></span><br>
  Calories burned: <span id="burned"><%= @workout["burned"] %></span><br>
  Net caloric intake: <span id="net_intake"><%= @workout["intake"] - @workout["burned"] %></span>
  </div>

  <hr />

  <div style="text-align:left"><i><b>Add workout:</b></i></div>
  <form id="add-workout" action="" method="post">
    <select id="activity" name="activity" style="width: 200px">
    <% for i in 0..@activities.length-1 %>
      <option value="<%= @activities[i] %>"><%= @activities[i] %></option>
    <% end %></select>
    <input id="minutes" name="minutes" placeholder="minutes" style="width:55px;height:23px;margin-left: 10px;">
    <input id="add_workout_entry" type="submit" value="Add" style="height:30px;margin-left:10px">
  </form>

</div>


<div id="recommendations">
  <div id="suggested">
  <i><b>Suggested activity:</b></i>&nbsp;&nbsp;&nbsp;&nbsp;
      <select id="rec_activity" name="rec_activity" onchange="getRecommended()">
      <% for i in 0..@activities.length-1 %>
        <% if @activities[i] == @defaultActivity %>
          <option value="<%= @activities[i] %>" selected><%= @activities[i] %></option>
        <% else %>
          <option value="<%= @activities[i] %>"><%= @activities[i] %></option>
        <% end %>
      <% end %>
      </select>
  </div>

  <hr />

  <div id="desired-current-wrapper">
    <div id="desired">
      <i><b>To reach desired weight:</b></i><br><br>
        Target calories/day:
          <% if @workout["target"] == -1 %>
            <br><i>Complete your profile form to find out!</i><br>
          <% else %>
            <span id="target"><%= @workout["target"] %></span>
          <% end %><br>
        Suggested workout time:
          <% if @workout["rec_target"] == -1 %>
            <br><i>Complete your profile form to find out!</i><br>
          <% else %>
            <span id="rec_target"><%= @workout["rec_target"] %></span>
          <% end %>
    </div>

    <div id="current">
      <i><b>To maintain current weight:</b></i><br><br>
      Target calories/day:
        <% if @workout["normal"] == -1 %>
          <br><i>Complete your profile form to find out!</i><br>
        <% else %>
          <span id="normal"><%= @workout["normal"] %></span>
        <% end %><br>
      Suggested workout time:
        <% if @workout["rec_normal"] == -1 %>
          <br><i>Complete your profile form to find out!</i><br>
        <% else %>
          <span id="rec_normal"><%= @workout["rec_normal"] %></span>
        <% end %>
    </div>

  </div>

</div>

<div id="workout-tips">
  <div style="text-align: center; margin:2px"><b><i>Workout tips:</i></b></div>
  <div class="tip-container"><u>Consistency is key:</u> the best way to guarantee consistent fitness progress is to workout on a consistent schedule and not skipping out unless you have to. In the world of fitness, effort and reward are directly correlated
  </div>
  <div class="tip-container"><u>Nutrition is important:</u> Having a small healthy snack before and after workouts can boost your effectiveness. Just make sure you stay small and light, lest you eat too much and cancel out the calorie burning you'd otherwise have.
  </div>
  <div class="tip-container"><u>Switch it up:</u> It's easy to get bored and fall off the wagon if all you're doing is one boring exercise every day. Switch up your routine and try different but equivalent exercises! This will keep your mind and body interested in continuing.
  </div>
  <div class="tip-container"><u>Stay hydrated:</u> Dehydration is a dangerous thing, and you risk causing permanent damage to your body if you overwork your body while not providing it with sufficient hydration. Drink when you're thirsty and you'll be fine!
  </div>
  <div class="tip-container"><u>Be prepared:</u> When you go to the gym or start your workout, come in knowing exactly what you want to do and for how long/how many reps. Having an achievable end goal will do wonders for your motivation and it will maximize your workout efficiency, since in working out, as with many other things in life, there exists a point of diminishing returns.
  </div>
  <div class="tip-container"><u>Keep at it:</u> Keep going! You got this! We believe in you! :)
  </div>
</div>


<script type="text/javascript">
  function getRecommended() {
    rec_activity = document.getElementById("rec_activity");
    var net_intake = Number(document.getElementById("net_intake").innerHTML);
    var target = Number(document.getElementById("target").innerHTML);
    var normal = Number(document.getElementById("normal").innerHTML);
    var target_calories = net_intake - target;
    var normal_calories = net_intake - normal;
    send_json("/profile/workout/get_recommended",
      {target_cal: target_calories,
       normal_cal: normal_calories,
       activity: rec_activity.value
      },
      function(reply) {
        return setRecommended(reply);
      },
      show_error
    );
  }

  function setRecommended(reply) {
    if (reply.rec_target == "-1") {
      $('#rec_target').html("Complete your profile form to find out!");
    } else {
      $('#rec_target').html(reply.rec_target);
    }
    if (reply.rec_normal == "-1") {
      $('#rec_normal').html("Complete your profile form to find out!");
    } else {
      $('#rec_normal').html(reply.rec_normal);
    }
  }

  function update(reply) {
    if (reply.result == "SUCCESS") {
      $("#burned").html(reply.burned);
      var intake = Number(document.getElementById("intake").innerHTML);
      var burned = Number(reply.burned);
      $("#net_intake").html(intake-burned);
      getRecommended();
      alert("Update successful");
    } else {
      alert("Could not update- is your profile form completed?");
    }
  }

  $('#add_workout_entry').click(function() {
    send_json("/profile/workout/add_entry",
    { "activity":document.getElementById("activity").value,
      "minutes":document.getElementById("minutes").value
    },
    function(reply) {
      return update(reply);
    },
    show_error
    );
    return false;
  });
</script>
