<center>

<%= render '/layouts/navbar' %>

<div id="reports">
  <div id="today">
  <i><b>Today's Stats:</b></i><br><br>
  Caloric intake: <span id="intake" style="float: right;"><%= @workout["intake"] %></span><br>
  Calories burned: <span id="burned" style="float: right;"><%= @workout["burned"] %></span><br>
  Net caloric intake: <span id="net_intake" style="float: right;"><%= @workout["intake"] - @workout["burned"] %></span>
  </div>

  <hr />

  <div id="suggested">
  <i><b>Suggested activity:</b></i><br><br>
      <select id="rec_activity" name="rec_activity" style="width:300px;" onchange="getRecommended()">
      <% for i in 0..@activities.length-1 %>
        <% if @activities[i] == @defaultActivity %>
          <option value="<%= @activities[i] %>" selected><%= @activities[i] %></option>
        <% else %>
          <option value="<%= @activities[i] %>"><%= @activities[i] %></option>
        <% end %>
      <% end %>
      </select>
  </div>

  <hr />

  <div id="desired">
    <i><b>To reach desired weight:</b></i><br><br>
      Target (cal/day):
        <% if @workout["target"] == -1 %>
          <br><i>Complete your profile form to find out!</i><br>
        <% else %>
          <span id="target" style="float: right;"><%= @workout["target"] %></span>
        <% end %><br>
      Suggested workout (minutes):
        <% if @workout["rec_target"] == -1 %>
          <br><i>Complete your profile form to find out!</i><br>
        <% else %>
          <span id="rec_target" style="float: right;"><%= @workout["rec_target"] %></span>
        <% end %>
  </div>

  <hr />

  <div id="current">
    <i><b>To maintain current weight:</b></i><br><br>
    Target (cal/day):
      <% if @workout["normal"] == -1 %>
        <br><i>Complete your profile form to find out!</i><br>
      <% else %>
        <span id="normal" style="float: right;"><%= @workout["normal"] %></span>
      <% end %><br>
    Suggested workout (minutes):
      <% if @workout["rec_normal"] == -1 %>
        <br><i>Complete your profile form to find out!</i><br>
      <% else %>
        <span id="rec_normal" style="float: right;"><%= @workout["rec_normal"] %></span>
      <% end %>
  </div>

</div>


<form id="add-workout" action="" method="post">
  <div id="workout-activity"><select id="activity" name="activity" style="width:300px;float:right;">
  <% for i in 0..@activities.length-1 %>
    <option value="<%= @activities[i] %>"><%= @activities[i] %></option>
  <% end %>
  </select></div>
  <div id="workout-duration">Duration: <input id="minutes" name="minutes" style="width:100px;"></div>
  <input id="add_workout_entry" type="submit" value="Add Workout">
</form>

</center>

<script type="text/javascript">
  function getRecommended() {
    rec_activity = document.getElementById("rec_activity");
    var net_intake = Number(document.getElementById("net_intake").innerHTML);
    var target = Number(document.getElementById("target").innerHTML);
    var normal = Number(document.getElementById("normal").innerHTML);
    var target_calories = net_intake - target;
    var normal_calories = net_intake - normal;
    send_json("/profile/workout/get_recommended",
      {target_cal: target_calories,
       normal_cal: normal_calories,
       activity: rec_activity.value
      },
      function(reply) {
        return setRecommended(reply);
      },
      show_error
    );
  }

  function setRecommended(reply) {
    if (reply.rec_target == "-1") {
      $('#rec_target').html("Complete your profile form to find out!");
    } else {
      $('#rec_target').html(reply.rec_target);
    }
    if (reply.rec_normal == "-1") {
      $('#rec_normal').html("Complete your profile form to find out!");
    } else {
      $('#rec_normal').html(reply.rec_normal);
    }
  }

  function update(reply) {
    if (reply.result == "SUCCESS") {
      $("#burned").html(reply.burned);
      var intake = Number(document.getElementById("intake").innerHTML);
      var burned = Number(reply.burned);
      $("#net_intake").html(intake-burned);
      getRecommended();
      alert("Update successful");
    } else {
      alert("Could not update");
    }
  }

  $('#add_workout_entry').click(function() {
    send_json("/profile/workout/add_entry",
    { "activity":document.getElementById("activity").value,
      "minutes":document.getElementById("minutes").value
    },
    function(reply) {
      return update(reply);
    },
    show_error
    );
    return false;
  });
</script>
